<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="home-page.component.css" rel="stylesheet"
        type="text/css" />
        <link 
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>
        <div class="box">
            <h1>Rock Paper Scissors</h1>
            <div id="score" style="font-size: 20px;">User Score: </div>
            <div id="games" style="font-size: 20px;"> </div>
            <div id="computerScore" style="font-size: 20px;"> </div>
            <h1 id="countDown">3</h1>
            <table>
                <tr>
                    <th><app-handtracker (onPrediction)="prediction($event)"></app-handtracker></th>
                    <th style="width:50%"><h3>You</h3></th>
                    <th style="width:50%"><h3>Computer</h3></th>
                </tr>
                <tr>
                    <td style="font-size: 20px;">How to Play</td>
                    <td class="show"><i class='fas fa-hand-rock'></i></td>
                    <td class="showComputer"><i class='fas fa-hand-rock'></i></td>
                </tr>
                <tr>
                    <td>
                        <p>Two Open Hands: Start Game</p>
                        <p>Two Closed Hands: Restart Game</p>
                        <p>Closed Hand: Rock</p>
                        <p>Open Hand: Paper</p>
                        <p>Hand Pointing: Scissor</p>
                        <p>One Open Hand and One Closed Hand: Update Score</p>
                        <p>One Open Hand and One Hand Pointing: Display Statistics</p>
                    </td>
                    <td id="userWin" style="font-size: 20px;" class="show"></td>
                    <td id="computerWin" style="font-size: 20px;" class="show"></td>
                </tr>
            </table>
        </div>
    </body>
</html>